
  <div class="card">
    <div class="photo">
      <img src="">
    </div>
    <div class="info">
      <h3>{{item.name}}</h3>
      <div class="values">
        <p>Volumen: {{item.volume}}</p>
        <p>Precio: {{item.value}}</p>
      </div>
      <button *ngIf="status === 'add-cart'" (click)="addCart()">
        Añadir al carrito
      </button>
      <button *ngIf="status === 'remove-cart'" (click)="removeCart()">
        Quitar del carrito
      </button>
      <br>
    </div>

  </div>

