main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 100px auto 0 auto;
  background-color: lightgray;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tabs a{
  flex:1;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 10px 0;
}
