
<main>
  <div class="tabs">
    <a routerLink="items" [ngStyle]="{'background': checkURL('items') ? '#ccc' : '#ddd'}">Items</a>
    <a routerLink="cart" [ngStyle]="{'background': checkURL('cart') ? '#ccc' : '#ddd'}">Cart</a>
  </div>
  <div class="items">
    <app-item *ngFor="let item of getList()" [item]="item" [status]="getStatus()"></app-item>
  </div>
</main>

